* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    height: 65px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    cursor: pointer;
}

/* Header and Navigation Styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
    font-weight: 700;
}

/* Banner Styles */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

/* Main Section Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section Styles */
.section-heading {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    border: 0;
    padding: 130px 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}

.section-description,
.single-skill p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    text-align: justify;
    margin-bottom: 30px;
}

.basic-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.basic-title {
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}

.basic-details,
.single-skill h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* What I Do : Skills */
.skills {
    margin-top: 130px;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.single-skill:hover {
    border: 2px solid #FD6E0A;
}

.single-skill {
    height: 377px;
    margin-top: 50px;
    padding: 30px;
    text-align: justify;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.single-skill img {
    margin-bottom: 30px;
    height: 44px;
    width: 44px;
}

.single-skill h3 {
    margin-bottom: 20px;
}

/* Resume */
.resume-details {
    display: flex;
    gap: 25px;
}

.education h3,
.experience h3 {
    color: #474747;
    font-weight: 700;
    font-size: 30px;
    margin-top: 75px;
}

.edu-list h3,
.exp-list h3 {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.edu-list h4,
.exp-list h4 {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.edu-list p,
.exp-list p {
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
    text-align: justify;
}

.edu-list,
.exp-list {
    border-bottom: 1px solid #D1D1D1;
}

.edu-list:last-child,
.exp-list:last-child {
    border-bottom: none;
}

.btn-center {
    margin: 0 auto;
}